a.nav-link {
    margin-right: 35px;
}

table.table.table-borderless.table-body {
    margin: 0 auto;
    margin-left: 29rem;
    width: 80%;
    max-width: fit-content;
}

@media(max-width:800px) {
    table.table.table-borderless.table-body {
        margin: 0 auto;
        width: 80%;
        max-width: fit-content;
    }
}

@media (max-width: 800px) {
    .nav-bdy {
        padding-left: 130px !important;
    }
}

.card-body.per-table {
    height: 370px !important;
}

@media (max-width: 800px) {
    .card-body.per-table {
        height: 500px !important;
    }
}